<div class="modal-header mb-2">
    <!-- product details title -->
    <h2 class="modal-title">Product details</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
            <div class="row mb-3">
                <!-- name -->
                <div class="col-5">
                    <div class="details-box">
                        <p class="mb-1">Product name</p>
                        <p>{{ name }}</p>
                    </div>
                </div>

                <!-- category -->
                <div class="col-3">
                    <div class="details-box">
                        <p class="mb-1">Category</p>
                        <p>{{ category }}</p>
                    </div>
                </div>
                
                <!-- reference -->
                <div class="col-4">
                    <div class="details-box">
                        <p class="mb-1">Reference number</p>
                        <p>{{ reference_number }}</p>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <!-- buy date -->
                <div class="col-3">
                    <div class="details-box">
                        <p class="mb-1">Buy date</p>
                        <p>{{ buy_date }}</p>
                    </div>
                </div>

                <!-- price -->
                <div class="col-2">
                    <div class="details-box">
                        <p class="mb-1">Price</p>
                        <p>{{ price }}</p>
                    </div>
                </div>

                <!-- source type -->
                <div class="col-3">
                    <div class="details-box">
                        <p class="mb-1">Purchase type</p>
                        <p>{{ source_type }}</p>
                    </div>
                </div>

                <!-- source -->
                <div class="col-4">
                    <div class="details-box">
                        <p class="mb-1">Purchase location</p>
                        <p>{{ source }}</p>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <!-- end warranty -->
                <div class="col-4">
                    <div class="details-box">
                        <p class="mb-1">End of warranty date</p>
                        <p>{{ end_warranty }}</p>
                    </div>
                </div>

                <!-- care products -->
                <div class="col-8">
                    <div class="details-box">
                        <p class="mb-1">Product maintenance advice</p>
                        <p>{{ care_products }}</p>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <!-- receipt image -->
                <div class="col-4">
                    <div class="details-box">
                        <p class="mb-1">Receipt</p>
                        <p>{{ image_product }}</p>
                    </div>
                </div>


                <!-- manual -->
                <div class="col-4 offset-2">
                    <div class="details-box">
                        <p class="mb-1">Manual</p>
                        <p>{{ manual_product }}</p>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <!-- edit button -->
    <button type="button" class="btn btn-primary btn-lg btn-block">Edit product</button>
</div>