<div class="modal-header mb-2">
    <!-- product details title -->
    <h2 class="h1 modal-title font-weight-bold text-primary text-center flex-fill">{{ name }}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <!-- name reference category-->
        <div class="pb-3 border-bottom">
            <p class="h3 font-weight-bold">Reference</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <p class="h5"><span class="text-secondary">Category :</span> {{ category }}</p>
                <p class="h5"><span class="text-secondary">Reference :</span> {{ reference_number }}</p>
            </div>
        </div>

        <!-- purchase details -->
        <div class="py-3 border-bottom">
            <p class="h3 font-weight-bold">Purchase details</p>
            <p class="h5"><span class="text-secondary">Purchase address :</span> {{ source }} ({{ source_type }})</p>
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <p class="h5"><span class="text-secondary">Purchase date :</span> {{ buy_date }}</p>
                <p class="h5"><span class="text-secondary">Price :</span> {{ price }} €</p>
            </div>
        </div>

        <!-- product details -->
        <div class="py-3">
            <p class="h3 font-weight-bold">Product details</p>
            <p class="h5"><span class="d-inline-block text-secondary">Receipt :</span class="d-inline-block"> {{ image_url }}</p>
            <p class="h5"><span class="d-inline-block text-secondary">Manual :</span> {{ manual_url }}</p>
            <p class="h5"><span class="text-secondary">End of warranty :</span> {{ end_warranty }}</p>
            <p class="h5"><span class="text-secondary">Maintenance advice :</span> {{ care_products }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- edit modal button -->
    <button id="edit-btn" type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" data-toggle="modal" data-target="#formModal" data-id="{{ id_products }}">Edit product</button>
</div>