<tr>
    <td>{{ reference_number }}</td>
    <td>{{ name }}</td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td>{{ buy_date }}</td>
    <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal" data-id={{ id_products }}>
            Details
        </button>
    </td>
</tr>