<div class="modal-header mb-2">
    <!-- form title -->
    <h2 class="h1 modal-title font-weight-bold text-primary text-center flex-fill">{{ mode }} product</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form id="form" method="post" action="" enctype="multipart/form-data" name="form">

            <div class="form-row mb-3">
                <!-- name input -->
                <div class="col-6 form-group">
                    <label class="mb-1" for="nameInput">Product name</label>
                    <input class="form-control py-4" id="nameInput" name="name" type="text" placeholder="Enter product name" value="{{ name }}" required/>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- category select -->
                <div class="col-3 form-group">
                    <label class="mb-1" for="categorySelect">Category</label>
                    <select class="form-control custom" name="category_id" id="categorySelect" required>
                        {% for category in categories %}
                            <option value="{{ category.id_category }}"
                                {% if category.id_category == category_id %}
                                    selected
                                {% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                
                <!-- reference input -->
                <div class="col-3 form-group">
                    <label class="mb-1" for="reference_numberInput">Reference number</label>
                    <input class="form-control py-4" id="reference_numberInput" name="reference_number" type="text" placeholder="Enter reference" value="{{ reference_number }}" required/>
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-row mb-3">
                <!-- buy date input -->
                <div class="col-4 form-group">
                    <label class="mb-1" for="buy_dateInput">Buy date</label>
                    <input class="form-control py-4" id="buy_dateInput" name="buy_date" type="text"  placeholder="Enter buy date" value="{{ buy_date }}" onfocus="(this.type='date')" onblur="(this.type='text')" required/>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- price input -->
                <div class="col-2 form-group">
                    <label class="mb-1" for="priceInput">Price</label>
                    <input class="form-control py-4" id="priceInput" name="price" type="number" placeholder="Enter price" value="{{ price }}" required/>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- source type input -->
                <div class="col-2 form-group">
                <label class="mb-1" for="source_typeSelect">Purchase type</label>
                    <select class="form-control custom" name="id_type" id="typeSelect" required>
                        <option value="1">Offline</option>
                        <option value="2">Online</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- source input -->
                <div class="col-4 form-group">
                    <label class="mb-1" for="sourceInput">Purchase location</label>
                    <input class="form-control py-4" id="sourceInput" name="source" type="text" placeholder="Enter purchase location" value="{{ source }}" required/>
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-row mb-3">
                <!-- end warranty input -->
                <div class="col-4 form-group">
                    <label class="mb-1" for="end_warrantyInput">End of warranty date</label>
                    <input class="form-control py-4" id="end_warrantyInput" name="end_warranty" type="text"  placeholder="Enter end of warranty date" value="{{ end_warranty }}" onfocus="(this.type='date')" onblur="(this.type='text')" required/>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- care products input -->
                <div class="col-8 form-group">
                    <label class="mb-1" for="care_productsInput">Product maintenance advice</label>
                    <textarea class="form-control" id="care_productsInput" name="care_products" type="text" placeholder="Enter product maintenance advice" required>{{ care_products }}</textarea>
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-row mb-2">
                <!-- edit image -->
                <div class="col-5">
                    Upload receipt
                </div>

                <!-- edit manual -->
                <div class="col-5 offset-2">
                    Upload manual
                </div>
            </div>

            <div class="form-row mb-2">

                <!-- receipt image upload -->
                <div class="col-5 form-group custom-file">
                    <input type="file" class="custom-file-input text-truncate" id="imageInput" name="image_url"  onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])" required/>
                    <label class="custom-file-label text-truncate" for="imageInput">{{ image_url }}</label>
                    <div class="invalid-feedback"></div>
                </div>

                <!-- manual upload -->
                <div class="col-5 offset-2 form-group custom-file">
                    <input type="file" class="custom-file-input text-truncate" id="manualInput" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])" name="manual_url"/>
                    <label class="custom-file-label text-truncate" for="manualInput">{{ manual_url }}</label>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <!-- submit button -->
    <button type="button" id="form-submit" class="btn btn-primary btn-lg btn-block" name="submit" data-id={{ id_products }}>{{ mode }} product</button>
    <div id="formError" class="invalid-feedback"></div>
</div>